@reference "../../../styles/index.css";

@layer components {
  .site-header {
    @apply w-full h-auto bg-[#C98B26] text-white flex items-center justify-between pl-[5px] select-none shadow-sm text-[14px] leading-[15px] pr-[30px] font-bold;


    .site-header-nav-link {
      @apply p-2.5 rounded-xs transition-colors hover:bg-[#2A2A2A] text-white text-[14px] leading-[15px] font-bold whitespace-nowrap;
    }

    .site-header-dropdown-btn {
      @apply flex items-center gap-1 px-2.5 py-1.5 rounded-xs transition-colors whitespace-nowrap cursor-pointer text-white text-[14px] leading-[15px] font-bold;
    }

    .site-header-dropdown-menu {
      @apply absolute top-full left-0 mt-0 bg-[#C98B26] z-50 py-2.5 flex flex-col min-h-[200px];
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
      border: 0 solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
    }

    .site-header-dropdown-item {
      @apply p-2.5 text-[14px] leading-[15px] font-bold text-white hover:bg-[#333333] transition-colors;
    }

    .site-header-user-wrapper {
      @apply relative py-2;
    }

    .site-header-user-btn {
      @apply text-[14px] leading-[15px] font-bold text-white flex items-center gap-1 hover:text-amber-100 cursor-pointer whitespace-nowrap;
    }

    .site-header-user-balance {
      @apply text-[12px] font-normal opacity-90;
    }

    .site-header-user-menu {
      @apply absolute right-0 top-full mt-0 w-48 bg-[#C98B26] z-50 py-[7px] flex flex-col border-t border-amber-600/30;
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
      border: 0 solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
    }

    .site-header-user-menu-item {
      @apply px-2.5 py-1 text-[14px] font-bold text-white text-left hover:underline transition-colors cursor-pointer whitespace-nowrap;
    }

    /* Vue Multiselect exact styling */
    .multiselect {
      @apply relative w-[160px]! text-xs font-normal select-none h-[38px]!;
    }

    .multiselect__select {
      @apply absolute right-0 top-0 flex items-center justify-center text-[#222222] pointer-events-none z-10 h-full!;
    }

    .multiselect__tags {
      @apply flex items-center bg-white px-2.5 py-1 pr-8 cursor-text shadow-sm h-full!;
    }

    .multiselect__placeholder {
      @apply text-[14px] font-normal text-[#ced4da] leading-tight select-none;
    }

    .multiselect__input {
      @apply w-full bg-transparent text-[14px]! font-normal text-[#ced4da]! placeholder:text-[#ced4da]! focus:outline-none;
    }

    .multiselect__content-wrapper {
      @apply absolute top-full left-0 right-0 w-full bg-white border border-[#CCCCCC] rounded-b-[3px] shadow-lg z-50 max-h-[300px] overflow-y-auto mt-[1px];
    }

    .multiselect__content {
      @apply list-none p-0 m-0 flex flex-col;
    }

    .multiselect__option {
      @apply px-3 py-2 text-[13px] font-normal text-[#333333] hover:bg-[#f3f3f3] block cursor-pointer transition-colors;
    }
  }
}