@reference "../../../styles/index.css";

@layer components {
  .header-summary-bar {
    padding: 20px;
    @apply relative w-full bg-[#444] text-white;
  }

  .header-summary-toggle {
    @apply flex items-center justify-center mx-auto text-white bg-transparent transition-all cursor-pointer -mb-3 relative z-10 border-none;
    font-size: 14px;
    line-height: 1;
    top: -5px;
  }

  .header-summary-toggle span {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }

  .header-summary-toggle-open {
    transform: rotate(180deg);
  }

  .header-summary-grid {
    @apply grid grid-cols-3 gap-x-16 gap-y-1 px-4 pt-6 text-[13px] pb-0;
  }

  .header-summary-column {
    @apply flex flex-col gap-1;
  }

  .header-summary-row {
    @apply flex items-center mb-3;
  }

  .header-summary-label {
    @apply font-medium;
    flex: 0 0 66.6667%;
  }

  .header-summary-value {
    @apply text-white font-medium text-left;
    flex: 0 0 33.3333%;
  }
}